/* Define root variables for colors, fonts, sizes, and more */
:root {
    --primary-color: #6dbe47; /* Main green color */
    --sec-primary-color: #78d247;
    --secondary-color: #2d2814; /* Darker neutral color */
    --accent-color: #477023; /* Brighter green/hover color */
    --third-color: rgba(0, 255, 8, 1);
    --light-color: white; /* Light background color */
    --dark-color: #1e1e1e; /* Dark text color */
    --font-main: 'Arial', sans-serif; /* Main font family */
    --font-secondary: 'Aref Ruqaa', serif; /* Secondary font family */
    --def-box-shadow: 0px 0px 7px var(--accent-color); /* Default box shadow */
    --light-box-shadow: 2px 0px 17px rgba(76, 175, 80, 0.7); /* Shadow effect */
    --inset-light-box-shadow: inset 2px 0px 17px rgba(76, 175, 80, 0.7);
    --lighter-box-shadow: 0px 0px 17px rgba(0, 255, 8, 0.5);
    --inset-lighter-box-shadow: inset 0px 0px 17px rgba(0, 255, 8, 0.5);
    --photo-box-shadow: 7px 7px 24px var(--primary-color);
    --filter-shadow: drop-shadow(9px 9px 7px var(--primary-color));
    --dark-box-shadow77: 7px 7px 14px rgba(49, 31, 14, 0.7); 
    --dark-box-shadow44: 4px 4px 17px rgba(49, 31, 14, 1);
    --section-filter: drop-shadow(0px 0px 10px #000000);
    --border-radius: 8px; /* Default border radius */
    --transition: 0.3s ease; /* Default smooth transition */
    --font-size-main: 24px;
}

@font-face {
    font-family: 'atheer';
    src: url(/Atheer7/fonts/\(A\)\ Arslan\ Wessam\ A\ \(A\)\ Arslan\ Wessam\ A.ttf);
}

html, body {
    margin: 0;
    font-family: 'atheer', sans-serif;
    font-size: 30px;
    background-color: var(--light-color);
    color: #ffffff;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.headerr {
    background-color: white; /* Set to a solid color instead of transparent */
    box-shadow: var(--lighter-box-shadow); /* Clear inner shadow */
    /* transition: background-color 0.3s ease; Smooth transition for background color */
    position: fixed; /* Make navbar fixed */
    top: 0; /* Stick to the top of the viewport */
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 4px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.logo {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
}

.logo img {
    width: 50px; /* Set width for the logo */
    height: auto; /* Maintain aspect ratio */
    border-radius: 1px; /* Optional: rounded corners */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    margin-right: 20px; /* Reduced space between logo and site name */
}

.site-name {
    font-size: 25px; /* Font size for the site name */
    color: #1e1e1e; /* Ensure text color is white */
    text-decoration: none; /* Remove underline from link */
    font-family: "Aref Ruqaa", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid var(--dark-color);
    border-radius: 40px;
    margin-right: 14px;
}

.site-name:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow:
        0 0 55px var(--third-color),
        0 0 100px var(--third-color);
    }
}

.logo-and-name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: white; /* Background color for header */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.bar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.nav-list {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for horizontal layout */
}

.nav-item {
    position: relative; /* Position relative for dropdown positioning */
}

.nav-item > a {
    display: block; /* Make links block elements */
    padding: 15px 20px; /* Padding inside links */
    color: #1e1e1e; /* Default text color */
    text-decoration: none; /* Remove underline from links */
    transition: transform 0.2s ease, color 0.2s ease; /* Add transition for hover effects */
}

.nav-item:hover > a {
    color: var(--primary-color); /* Change text color to green on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
}

.auth-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
 
.sign-up-button-bar{
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 17px;
    border: 1px solid var(--dark-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
    margin-right: 20px; /* Space between buttons and nav items */

}

.sign-up-button-bar:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    box-shadow: var(--dark-box-shadow77); /* Darker shadow on hover */
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
}

.search-box {
    border: none;
    padding: 10px;
    outline: none;
    background-color: transparent;
    color: var(--dark-color);
}

.search-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: var(--accent-color);
    filter: drop-shadow(2px 2px 1px var(--sec-primary-color));
}

.search-button:hover {
    transform: translateY(-0.5px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    filter: drop-shadow(2px 2px 1px var(--primary-color));
}

.setting-icon {
    margin: 20px 20px;
    cursor: pointer;
}

.setting-icon:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
}

.dropdown {
    display: none; /* Hide dropdown by default */
    position: absolute; /* Position dropdown relative to nav item */
    /* top: 100%; // Position below the nav item */
    background-color: var(--light-color); /* Dark background for dropdown */
    height: auto;
    width: 140px;
    /* opacity: 0; // Start hidden with opacity zero for fade effect */
    transform: translateY(-100px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    padding: 17px; /* Padding inside dropdown links */ 
    justify-items: center;
    border-radius: 17px;
}

.nav-item:hover .dropdown {
    display: block; /* Show dropdown on hover of nav item */
    opacity: 1; /* Fade in the dropdown */
    transform: translateY(0); /* Slide down to original position */
    box-shadow: var(--light-box-shadow);
}

.dropdown li {
    list-style-type: none; /* Remove bullet points from dropdown items */
}

.dropdown li a {
    color: #2d2814;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

.dropdown li a:hover {
    color: var(--accent-color); /* Green color on hover */
}

.sidebar {
    position: fixed; /* Stay in place */
    top: 110px;
    left: -250px; /* Initially hidden off-screen to the left */
    width: 250px; /* Width of the sidebar */
    height: auto; /* Full height */
    background-color: var(--light-color); /* Background color */
    color: var(--dark-color); /* Text color */
    box-shadow: var(--light-box-shadow); /* Shadow effect */
    opacity: 0; /* Start hidden */
    transform: translateX(0); /* No initial translation */
    transition: left 0.3s ease, opacity 0.3s ease; /* Smooth transition */
    padding: 20px; /* Padding inside the sidebar */
    z-index: 1000; /* Ensure it's above other content */
    border-radius: 14px;
}

.sidebar a {
    text-decoration: none; /* Remove underline for links */
    color: inherit; /* Inherit the color from the parent */
    margin-right: 10px;
}

.sidebar a:hover {
    color: var(--primary-color); /* Optional: Add hover effect */
}

.sidebar.active {
    left: 14px; /* Move into view from the left */
    opacity: 1; /* Fully visible */
}

.sidebar h2 {
    margin-top: 0; /* Remove top margin */
}

.sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.sidebar ul li {
    margin-bottom: 10px; /* Space between items */
}

.sidebar ul li a {
    color: var(--dark-color); /* Link color */
    text-decoration: none; /* Remove underline */
}

/* ------------------------------------------------------------------------------------------------ */
/* .donation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    background-image: url('/Atheer7/photos/photo29.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 120px;
    filter: var(--section-filter);
}

.donation-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(7px);
    z-index: -1;
} 
*/
main {
    display: flex;
    flex-direction: column; /* Stack text and images vertically */
    align-items: center; /* Align items to the right */
    gap: 20px;
    min-height: 520px;
    padding: 50px;
    margin-top: 110px;
    background-image: url('/Atheer7/photos/photo_1_2025-04-13_22-36-00.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: var(--section-filter);
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(1px);
    z-index: -1;
}

.text-section {
    display: flex;
    flex-direction: row; /* Stack text and button vertically */
    align-items: center; /* Align items to the right */
    text-align: center;
    color: var(--light-color);
    gap: 20px;
    width: 100%; /* Ensure text section takes full width */
    text-align: right; /* Align text to the right */
}

.text-section p {
    font-size: 1.7em;
    margin-bottom: 10px; /* Add some space below the text */
}

.images-section {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center images horizontally */
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; /* Ensure images section takes full width */
}

.images-section img {
    width: calc(30% - 90px); /* Two images per row with spacing */
    max-width: none; /* Override any max-width set on individual images */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 20px;
}

.volunteer-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 24px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 20px;
}

.volunteer-button:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    background-color: var(--accent-color);
}

.photo1,
.photo2,
.photo3,
.photo4 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    filter: var(--filter-shadow);
    transition: box-shadow 0.3s ease;
    object-fit: contain;
}

.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    box-shadow: var(--photo-box-shadow);
}

/* ------------------------------------------------------------------------------------------------ */

.volunteer-section {
    padding: 70px; /* Add some padding around the section */
    text-align: center; /* Center align text */
    background-color: white; /* Slightly lighter background for contrast */
    box-shadow: var(--lighter-box-shadow);
}

.volunteer-message {
    font-size: 1.5em; /* Increase font size for emphasis */
    margin-bottom: 20px; /* Space between text and image gallery */
    color: var(--secondary-color);
}

.image-gallery {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center images horizontally */
    flex-wrap: wrap;
    gap: 30px; /* Space between images */
}

.gallery-image {
    max-width: 100%; /* Ensure images don't exceed the container width */
    max-height: 300px; /* Limit image height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    filter: var(--filter-shadow);
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    object-fit: contain; /* Make sure the whole image is visible */
}


.gallery-image:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    box-shadow: var(--photo-box-shadow);
}

/* __________________________________________________________________________________________________________________*/

/*
.connect-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    gap: 20px;
    padding: 100px; 
    background-color: var(--light-color);
}

.connect-text {
    max-width: 60%;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}

.connect-text h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.connect-text p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.join-button {
    background-color: #477023;
    color: white;
    font-size: 24px;
    border: 1px solid #2d2814;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 20px;
    margin-right: 20px;
}

.join-button:hover {
    transform: translateY(-4px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 7px 7px 14px rgba(49, 31, 14, 0.7); 
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
}

.social-icon {
    font-size: 1.7em;
    color: #333;
    text-decoration: none;
}

.social-icon:hover {
    color: #4CAF50;
}
*/

/* _____________________________________________________________________ */

.testimonial-section {
    padding: 70px; /* Add padding around the section */
    background-color: var(--light-color); /* Light green background for contrast */
    text-align: center; /* Center align text */
    box-shadow: var(--lighter-box-shadow);
}

.testimonial-header h2 {
    font-size: 1.7em; /* Increase font size for emphasis */
    margin-bottom: 10px; /* Space below heading */
    color: var(--secondary-color);
}

.testimonial-header p {
    margin-bottom: 20px; /* Space below description */
    color: var(--secondary-color);
    font-size: 1em;
}

.testimonial-container {
    display: flex; /* Use flexbox for horizontal layout */
    flex-wrap: wrap;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 20px;
}

.nav-button {
    background-color: transparent; /* Transparent background for buttons */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.7em;
}

.rating-box {
    background-color: var(--secondary-color); /* White background for rating box */
    border-radius: 8px; /* Rounded corners for box */
    width: 400px; /* Fixed width for consistency */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: var(--filter-shadow);
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.rating-box:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    box-shadow: var(--photo-box-shadow);
}

.palm-tree {
    font-size: 1.4em; /* Increase size of palm tree icon */
}

.user-comment {
    font-style: italic; /* Italicize user comments for emphasis */
}

.profile-pic {
    width: 140px; /* Fixed width for profile pictures */
    height: auto; /* Maintain aspect ratio */
    border-radius: 100%; /* Circular profile picture */
}

/* ________________________________________________________________________________________________ */

/* CSS Transitions 
main {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.volunteer-section {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.connect-section {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.testimonial-section {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

main {
    opacity: 0;
    transform: translateY(20px);
}

.volunteer-section {
    opacity: 0;
    transform: translateY(20px);
}

.connect-section {
    opacity: 0;
    transform: translateY(20px);
}

.testimonial-section {
    opacity: 0;
    transform: translateY(20px);
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
} */

/* ________________________________________________________________________________________________ */

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    padding: 70px;
    background-color: var(--light-color);
    margin-top: 50px;
    filter: var(--section-filter);
}

.signup-container {
    width: 500px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 40px;
    border-radius: 8px;
    filter: var(--filter-shadow);
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 10px;
    font-size: 1em;
}

.signup-input, 
.signup-select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    background-color: var(--light-color);
    color: var(--secondary-color);
}

.location-group {
    display: flex;
    gap: 20px;
}

.country-select, 
.phone-input {
    flex: 1;
}

.phone-input .phone-country-container {
    display: flex;
    gap: 10px;
}

.country-select {
    flex: 1;
    max-width: 100px;
}

.phone-input-box {
    flex: 3;
}

.create-account-button {
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 24px;
    border: 2px solid var(--dark-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
}

.create-account-button:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    background-color: var(--accent-color);
}

.login-message {
    margin-top: 0px;
    text-align: center;
    color: var(--light-color);
    font-size: 1em;
}

.login-message a {
    color: var(--sec-primary-color); /* Make the "log in" text green */
    text-decoration: none;
    font-weight: bold;
}

.login-message a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: var(--sec-primary-color); /* Darker green on hover */
}

.avatar-upload {
    position: relative;
    max-width: 200px;
    margin: 20px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: var(--primary-color);
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 1.2em;
}

/*
.avatar-upload .avatar-edit input+label:hover {
    background: var(--dark-color);
    border-color: var(--dark-color);
}
*/

.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid var(--light-color);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.im-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* ________________________________________________________________________________________________ */

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: calc(100vh - 140px);
    margin-top: 120px;
    background-color: var(--light-color);
    filter: var(--section-filter);
}

.login-container {
    width: 500px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 40px;
    border-radius: 8px;
    filter: var(--filter-shadow);
    flex-wrap: wrap;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 10px;
    font-size: 1em;
}

.login-input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    background-color: var(--light-color);
    color: var(--secondary-color);
}

.login-button {
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 24px;
    border: 2px solid var(--dark-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
}

.login-button:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    background-color: var(--accent-color);
}

/* ------------------------------------------------------------------------------------------------ */

/* .donation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    background-image: url('/Atheer7/photos/photo29.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 120px;
    filter: var(--section-filter);
}

.donation-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(7px);
    z-index: -1;
} 
*/

.donation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    background-color: var(--light-color); 
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    position: relative; /* Needed for the blur effect */
    margin-top: 120px;
    filter: var(--section-filter);
}

.donation-container {
    width: 550px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 40px;
    border-radius: 8px;
    filter: var(--filter-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-div {
    text-align: center;
    margin-bottom: 20px;
}

.selection-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.donation-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--light-color);
    color: var(--secondary-color);
}

.button-div {
    display: flex;
    justify-content: center;
}

.show-nurseries-button {
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 24px;
    border: 2px solid var(--secondary-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
    width: 100%;
}

.show-nurseries-button:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    background-color: var(--accent-color);
}

.nursery-list {
    width: 97.5%; /* Full width of the section */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--light-color); /* Optional: different background */
    filter: var(--section-filter);
}

.nursery-box {
    width: calc(33.33% - 20px); /* 3 boxes per row with gaps */
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 8px;
    padding: 15px;
    filter: var(--filter-shadow);
}

.nursery-image-container {
    width: auto; /* Make width flexible */
    height: auto; /* Make height flexible */
    overflow: hidden; /* Hide any overflow */
    text-align: center;
}

.nursery-image {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.nursery-info {
    padding: 15px;
    text-align: center;
}

/* -------------------------------------------------------------------------------------------- */

.volunteers-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    background-color: var(--light-color);
    margin-top: 120px;
    filter: var(--section-filter);
}

.volunteers-container {
    width: 550px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 40px;
    border-radius: 8px;
    filter: var(--filter-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-div {
    text-align: center;
    margin-bottom: 20px;
}

.selection-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.donation-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--light-color);
    color: var(--dark-color);
}

.button-div {
    display: flex;
    justify-content: center;
}

.show-campaigns-button {
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 20px;
    border: 2px solid var(--dark-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
    width: 100%;
}

.show-campaigns-button:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    background-color: var(--accent-color);
}

.campaigns-list {
    width: 97.5%; /* Full width of the section */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--light-color); /* Optional: different background */
    filter: var(--section-filter);
    display: none;
}

.campaign-box {
    width: calc(33.33% - 20px); /* 3 boxes per row with gaps */
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 8px;
    padding: 15px;
    filter: var(--filter-shadow);
}

.campaign-image-container {
    width: auto; /* Make width flexible */
    height: auto; /* Make height flexible */
    overflow: hidden; /* Hide any overflow */
    text-align: center;
}

.campaign-image {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.campaign-info {
    padding: 15px;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------ */

/* General layout 
.news-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    margin-top: 120px;
    filter: drop-shadow(0px 0px 7px #477023);
}

.weekly-date {
    text-align: center;
    margin-bottom: 20px;
    color: #2d2814;
}


.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.left-side-bb,
.right-side-bb,
.center-bb {
    width: 100%;
    margin-bottom: 20px;
}

.left-side-box,
.center-box,
.right-side-box {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
}

.news-image {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.news-text {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 15px;
}

.comment-section {
    margin-top: 15px;
}

.comment-section label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: center;
}

.comment-input-area {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.comment-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    text-align: center;
}

.send-icon {
    padding: 10px;
    background-color: #f0f0f0;
    color: #477023;
    cursor: pointer;
}

.show-more-button {
    background-color: #477023;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.show-more-button:hover {
    background-color: #3d601d;
}


@media (min-width: 768px) {
    .left-side-bb,
    .center-bb,
    .right-side-bb {
        width: 30%;
        margin-bottom: 0;
    }
}
*/

/* ------------------------------------------------------------------------------------------ */

.current-campaign {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;
    padding: 20px;
    background-color: var(--light-color);
    margin-top: 120px;
    filter: var(--section-filter);
}

.current-campaign-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; /* Ensure it takes full width */
}

.campaign-message {
    text-align: center;
    margin-top: 15px;
    color: var(--light-color);
}

.make-campaign-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 5px;
}

.make-campaign-link:hover {
    text-decoration: underline;
}

.current-campaign .left-side-cc {
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.current-campaign .left-side-cc .search-box {
    background-color: var(--secondary-color);
    border-radius: 8px;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.current-campaign .left-side-cc .menu-box {
    background-color: var(--secondary-color);
    border-radius: 8px;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.current-campaign .left-side-cc select {
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: var(--secondary-color);
    width: 100%;
}

.current-campaign .left-side-cc .search-city-button {
    background-color: var(--photo-box-shadow);
    color: var(--light-color);
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.current-campaign .left-side-cc .search-city-button:hover {
    background-color: var(--accent-color);
}

.current-campaign .left-side-cc .search-city-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.current-campaign .center-cc {
    width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.current-campaign #campaign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-campaign .currentcampaginsbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-campaign .campaignbox {
    background-color: var(--light-color);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: var(--light-box-shadow);
    width: 100%;
    padding: 15px;
}

.current-campaign .campaign-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.current-campaign .campaign-content .campaign-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.current-campaign .campaign-details {
    flex: 1;
    text-align: left;
}

.current-campaign .campaign-details .campaign-description {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 10px;
}

.current-campaign .campaign-details .location {
    font-style: italic;
    color: #555;
}

.current-campaign .comment-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-button {
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 17px;
    border: 1px solid var(--dark-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
    margin-right: 20px; /* Space between buttons and nav items */
    width: 30%;
}

.registration-button:hover {
    background-color: var(--accent-color);
}

.current-campaign .right-side-cc {
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.current-campaign .right-side-cc .map-box {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
}

.current-campaign .right-side-cc .map-box .map-box-button {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    color: var(--secondary-color);
}

.current-campaign .right-side-cc .map-box .view-map {
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.current-campaign .right-side-cc .map-box .view-map:hover {
    background-color: var(--primary-color);
}

@media (max-width: 768px) {
    .current-campaign .left-side-cc,
    .current-campaign .center-cc,
    .current-campaign .right-side-cc {
        width: 100%;
        margin-bottom: 20px;
    }

    .current-campaign .campaign-content {
        flex-direction: column;
        text-align: center;
    }

    .current-campaign .campaign-content .campaign-image {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* ------------------------------------------------------------------------------------------ */

.create-campaign-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    background-color: var(--light-color);
    margin-top: 120px;
    filter: var(--section-filter);
}

.campaign-container {
    width: 80%;
    max-width: 600px;
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 8px;
    filter: var(--filter-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campaign-container>div {
    display: flex;
    flex-direction: column;
}

.formbold-input-label {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 10px; /* Space between icon and text */
    font-size: 30px; /* Adjust font size as needed */
    color: var(--dark-color); /* Adjust text color */
    cursor: pointer; /* Indicate it's a label for a file input */
    padding: 10px 15px; /* Add padding around text */
    border: 1px solid var(--primary-color); /* Add a border */
    border-radius: 5px; /* Rounded corners */
    background-color: var(--light-color); /* Light background color */
}

.formbold-input-label svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-color); /* Adjust icon color */
}

.formbold-input-label:hover {
    background-color: #e4ffde; /* Darken background on hover */
    border-color: #999; /* Darken border on hover */
}

  .formbold-form-input:focus + .formbold-form-label {
    color: #6A64F1;
  }

  .formbold-input-file {
    margin-top: 30px;
  }
  .formbold-input-file input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
  }
  .formbold-input-file .formbold-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  .formbold-filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
  }
  .formbold-filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
  }
  .formbold-filename svg {
    cursor: pointer;
}

.formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #6A64F1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.campaign-container label {
    margin-bottom: 5px;
}

.campaign-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 100px;
    border: 2px solid var(--primary-color);
}

.campaign-container input[type="text"] {
    padding: 10px;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    border: 2px solid var(--primary-color);
}

.create-campaign {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid var(--primary-color);
}

.create-campaign:hover {
    background-color: var(--accent-color);
}

/* ------------------------------------------------------------------------------------------ */

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--light-color);
    margin-top: 120px;
    filter: var(--section-filter);
}

.profile-container {
    width: 70%;
    background-color: var(--light-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-image: url('/Atheer7/photos/photo_6_2025-04-14_09-32-55.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: var(--section-filter);
}

.profile-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(2px);
    z-index: -1;
}

.im-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid var(--primary-color);
}

.profile-name {
    font-size: 2em;
    color: var(--light-color);
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Stack stats vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.profile-stats-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
    margin-right: 50px;
}

.profile-stats div {
    font-size: 1.2em;
    color: var(--light-color);
    margin-bottom: 5px; /* Add spacing between stats */
}

.plant-tree-box {
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.plant-tree-box i {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.plant-tree-box p {
    color: #555;
}

.update-profile-button:hover {
    background-color: var(--accent-color);
}

.avatar-upload {
    position: relative;
    max-width: 200px;
    margin: 20px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 20%;
    background: var(--primary-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 1em;
}

.avatar-upload .avatar-edit input+label:hover {
    background: var(--dark-color);
    border-color: var(--third-color);
}

.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.update-profile-button {
    background-color: var(--primary-color); /* White background for buttons */
    color: var(--light-color); /* Green text color */
    font-size: 17px;
    border: 1px solid var(--dark-color); /* Remove default border */
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 10px; /* Padding inside buttons */
    margin-right: 20px; /* Space between buttons and nav items */
    width: 30%;
}

/* ------------------------------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');

.game-page-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Ensure padding is included in width */
    margin-top: 90px;
    justify-content: center;
}

.center {
    width: 50%; /* Adjust width as needed */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.right-side {
    width: 30%;
    /* Adjust width as needed */
    padding: 20px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Ensure padding is included in width */
}

.center {
    order: -1;
    /* Moves the center div to the start */
    /* Takes up 60% of the container */
}

.post-box {
    background-color: rgb(255, 255, 255); /* White background for game box */
    border: var(--primary-color) solid 4px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: var(--dark-box-shadow77);
    text-align: center;
    margin-bottom: 20px;
}

.games-box {
    padding: 10px;
    margin-bottom: 20px;
    /* Add some margin */
}

.avatar {
    font-size: 30px;
    border-radius: 50%; /* Circular avatar */
    cursor: pointer; /* Pointer cursor on hover */
    margin-right: 5px;
    margin-top: 10px;
    color: var(--primary-color);
}

.input-area {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.description-input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: 2px var(--accent-color) solid;
    margin-left: 5px;
    margin-right: 5px;
}

.post-icon {
    font-size: 27px;
    color: var(--primary-color); /* White text color */
    cursor: pointer; /* Pointer cursor on hover */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.post-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.posted-photo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.posted-photo img {
    width: 100%; /* Full width of the container */
    max-height: 200px; /* Limit height of the image */
    object-fit: cover; /* Maintain aspect ratio while covering area */
    border-radius: 5px;
}

/*
.water-drop-icon {
    width: 70px; 
    color: #6f9cf6;
    cursor: pointer;
}

.water-drop-count {
    font-size: 24px; 
}

.top-water-drop-box {
    background-color: black; 
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0px 0px 10px rgba(76, 175, 80, 0.5);
}
        */

.game-box {
    background-color: rgb(255, 255, 255); /* White background for game box */
    color: #000000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: var(--dark-box-shadow77);
    text-align: center;
    margin-bottom: 20px;
}

.likes {
    align-items: center; /* Center likes icon and count vertically */
}

.water-drop-icon1 {
    width: 10px; /* Adjust icon size */
    color: #6f9cf6;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.like-count {
    margin-left: 0px; /* Space between icon and count */
    font-size: 50px;
}

hr {
    width: 100%;
    border-top: 2px solid var(--third-color);
    border-top: 2px solid var(--third-color);
}

.game-image {
    width: 40%; /* Make image responsive to fit the box width */
    max-width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
}

.game-description {
    margin-top: 10px; /* Space above description text */
    margin-left: 20px;
}

.comment-link {
    color: var(--accent-color); /* Green color for comment link */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 50px;
}

.comment-input-area {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.comment-input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: 2px var(--accent-color) solid;
    margin-left: 20px;
}

.comment-input:hover {
    box-shadow: var(--light-box-shadow);
}

.send-comment-icon {
    font-size: 20px;
    color: var(--accent-color); /* White text color */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 14px;
}

.comment-icon {
    margin-left: 7px;
    font-size: 24px;
}

.user-thumbnail {
    width: 70px; /* Thumbnail size */
    border-radius: 100%; /* Circular thumbnails */
    filter: drop-shadow(7px 7px 7px var(--accent-color));
    cursor: pointer;
    padding: 7px;
}

.user-thumbnail:hover {
    box-shadow: 6px 6px 15px var(--sec-primary-color); /* Darker shadow on hover */
}

.user-name {
    margin-left: 10px;
    cursor: pointer;
}

/* ---- 
.comments {
    padding: 15px;
    border-radius: 5px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border: 1px dashed var(--sec-primary-color);
    border-radius: 50px;
    padding: 4px;
    cursor: pointer;
}

.comment:hover {
    box-shadow: 6px 6px 15px rgba(76, 175, 80, 0.7);
}

.comment-content {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.send-comment-button {
   margin-top: 10px;
   padding: 10px;
   background-color: #4CAF50;
   color: white;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.send-comment-button:hover {
   background-color: #45a049;  
}
*/

.user-water-drop {
    background-color: var(--secondary-color); /* Light blue background */
    color: var(--light-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    filter: var(--filter-shadow);
    margin-bottom: 20px;
}

.topwaterdropbox h3 {
   text-align: center; /* Center title in top water drop box */
   margin-bottom: 15px; 
}

.topwaterdropbox {
    background-color: var(--secondary-color); /* Light blue background */
    color: var(--light-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    filter: var(--filter-shadow);
}

.top-water-drop {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 15px;
}

.top-water-drop-content {
    display: flex;
    align-items: center;
}

.water-drop-count {
    font-size: 40px;
}
/* ------------------------------------------------------------------------------------------ */

.about-us-section {
    padding: 40px; /* Add padding around the section */
    background-color: white; /* Light background for contrast */
    color: var(--photo-box-shadow);
    box-shadow: var(--lighter-box-shadow); 
}

.about-us-section h2 {
    text-align: center; /* Center align the main heading */
    font-size: 2.5em; /* Increase font size for emphasis */
    margin-bottom: 20px; /* Space below heading */
}

.about-content {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    justify-content: center; /* Center items horizontally */
}

.about-item {
    background-color: var(--secondary-color); /* White background for each item */
    color: var(--light-color);
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside each item */
    margin: 10px; /* Space between items */
    width: 350px; /* Fixed width for consistency */
    height: auto;
    filter: var(--filter-shadow);
}

.about-item h3 {
    font-size: 1.5em; /* Font size for subheadings */
    margin-bottom: 10px; /* Space below subheading */
}

.about-item p {
    margin-bottom: 10px; /* Space below paragraph */
}

.about-item ul {
    list-style-type: none; /* Remove bullet points from list */
    padding-left: 0; /* Remove default padding */
}

.about-item ul li {
    margin-bottom: 5px; /* Space between list items */
}

.about-item a {
    color: var(--photo-box-shadow); /* Green color for links */
    text-decoration: none; /* Remove underline from links */
}

.about-item a:hover {
    text-decoration: underline var(--light-color); /* Underline on hover for links */
}

.about-item:hover {
    transform: translateY(-4px); /* Start slightly above to create a slide effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade and slide effect */
    box-shadow: var(--light-box-shadow);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--dark-color);
}